/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: rgb(44, 104, 58);
  --title-color: rgb(56, 104, 74);
  --text-color: hsl(230, 12%, 40%);
  --body-color: hsl(230, 100%, 98%);
  --container-color: hsl(230, 100%, 97%);
  --border-color: hsl(230, 25%, 80%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Syne", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1023px) {
  :root {
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  position: relative;
  height: 100vh;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.search,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
  padding: 8rem 1.5rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.search__close,
.login__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/*=============== CLASS FOR MULTIPLE VIEW ===============*/
.shop {
  margin-top: 2.5rem;
  padding: 15px 9%;
  padding-bottom: 100px;
  font-size: 1rem;
}

.shop h1{
	text-align: center;
	padding: 10px;
	font-size: 2.4rem;
	color: #38684A;
}

.shop-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px;
}

.product{
	box-shadow: 0 5px 10px;
	border-radius: 5px;
	background: white;
	text-align: left;
	padding: 15px 15px;
	margin-bottom: 3rem;
}

.product:hover{
	box-shadow: 0 10px 15px grey;
	transform: scale(1.05);
}

.filter{
  float: left;
  padding-right: 1.5rem;
  padding-bottom: 100px;
  font-size: 1rem;
  width: 100%;
}

.filter-box{
	box-shadow: 0 5px 10px;
	border-radius: 5px;
	background: white;
	text-align: left;
	padding: 15px 15px;
}

.filter-box h3, input{
	color: #38684A;
}

.filter-search{
	box-shadow: 0 5px 10px;
	border-radius: 5px;
	background: #38684A;
	color: white;
	text-align: center;
	padding: 15px 15px;
	font-size: 1rem;
}

.filter-search input[type="submit"]{
	display: none;
}

.filter-search:hover{
	transform: scale(1.05);
	box-shadow: 5px 5px 7px 2px grey;
}

.value{
	font-size: 20px;
	padding: 15px;
}

.category-button{
	display: flex;
	align-items: left;
	justify-content: center;
	gap: 5px;
}

.category-button button{
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.active{
	background-Color: #38684A;
	color: white;
}

.product.hide{
	display: none;
}

/*=============== CLASS FOR PRODUCT DETAIL ===============*/

.product-detail{
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 3rem;
  font-size: 1rem;
}

.product-detail-box{
	display: flex;
	box-shadow: 5px 5px 10px 3px grey;
	border-radius: 5px;
	background: white;
	align-items: center;
	width: 120vh;
	height: auto;
	padding: 20px;
}

.product-content{
	font-size: 1.2rem;
	width: 50%;
	padding: 30px;
}

.product-content span{
	font-size: 1.5rem;
	padding: 15px;
}

.product-detail-box button{
	font-size: 1rem;
	padding: 5px 15px;
	background-color: #38684A;
	color: white;
}

.product-detail-box button:hover{
	transform: scale(1.05);
	box-shadow: 5px 5px 7px 2px grey;
}

.left{
	width: 50%;
	padding: 30px;
}

.main-image{
	width: auto;
	height: auto;
	box-shadow: 5px 5px 10px 3px #38684A;
}

.product-quantity{
	font-size: 1.5rem;
}

.product-quantity span{
	cursor: pointer;
	width: 100%;
	padding: 0 10px;
}

.num{
	pointer-events: none;
}

.minus:hover,.plus:hover{
	background-Color: #38684A;
	color: white;
	box-shadow: none;
	transform: scale(1.3);
}

.extra{
	display: none;
}

.extra:has(~ input[type="checkbox"]:checked){
	display: inline;
}

.read-more input[type="checkbox"]{
	height: 2em;
	display: block;
	appearance: none;
}

.read-more input[type="checkbox"]:checked ~ label:before{
	content: "Close";
}

.read-more label{
	font-size: 1rem;
	padding: 5px 15px;
	background-color: #38684A;
	color: white;
	position: relative;
	cursor: pointer;
}

.read-more label:before{
	content: "Benefit";
}

/*.product-quantity label{
	padding: 0px 20px;
}

.product-quantity button{
	padding: 0px 5px;
	border-radius: 50%;
	background-Color: white;
	color: #38684A;
	transform: scale(1.7);
}

*/

/*=============== CLASS FOR REVIEW ===============*/
.review-heading, .similar-product-heading, .comment{
	text-align: center;
	letter-spacing: 1px;
	margin: 0px 15px;
	font-size: 2rem;
	color: #38684A;
}

.review-container{
	display: flex;
	justify-content: center;
	align-items: space-between;
	flex-wrap: wrap;
	width: 100%;
}

.review-box{
	width: 400px;
	box-shadow: 2px 2px 30px grey;
	background-Color: white;
	padding: 20px;
	margin: 15px;
}

.review-box:hover{
	transform: translateY(-10px);
	transition: all ease 0.3s;
}

.profile-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}

.profile-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.profile{
	display: flex;
	align-items: center;
}

.user-name{
	display: flex;
	flex-direction: column;
}

.review-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.review-comment h4{
	font-size: 1.2rem;
}

.review-comment p{
	font-size: 1rem;
}

/*.option img{
	width: 75px;
	height: 75px;
	padding: 10px;
}*/

/*=============== CLASS FOR SIMILAR PRODUCT ===============*/
.similar-product{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

.similar-product-content{
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	padding-top: 10px;
	box-shadow: 0 14px 28px grey;
	transition: 0.4s;
	background: white;
}

.similar-product-content:hover{
	box-shadow: 0 3px 6px grey;
	transform: translateY(-8px);
}

.similar-product-content img{
	padding: 15px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

/*.similar-product-content p{
	text-align: center;
	color: #38684A;
	padding-top: 0 8px;
}*/

.similar-product-content h3{
	color: #38684A;
}

.similar-product-content h6{
	font-size: 26px;
	text-align: center;
	color: #38684A;
	margin: 0
}

.comment-container{
  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.comment-box{
	display: flex;
	box-shadow: 0 5px 10px;
	border-radius: 5px;
	background: white;
	text-align: left;
	align-items: center;
	justify-content: center;
	padding: 15px 15px;
	width: 75%;
}

.comment-box textarea{
	margin-top: 0.5rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 10rem;
	padding: 0.5rem;
}

.comment-box label{
	font-size: 2rem;
}

.comment-box input{
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	padding: 0.5rem;
	width: 100%;
}

.button-group button{
	padding: 5px 15px;
	border-radius: 5px;
	background-Color: #38684A;
	color: white;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

a.nav_logo {
    flex-direction: row;
}

a.nav__logo img {
    width: 3vw;
    bottom: 10px;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__search, 
.nav__login, 
.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__search, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

.nav__menu .active {
  color: white;
  background: var(--first-color);
  padding: 40px 20px 35px 20px;
  border-radius: 0 0 30px 30px;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
	display: inline;
  }
  
  /*============ MULTIPLE VIEW CLASS ============*/

.shop-grid{
	grid-template-columns: repeat(2, 1fr);
}
	
.filter{
  width: 40%;
}

.slider-container{
	transform: scale(0.6);
}
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== SEARCH ===============*/
.search__form {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}

.search__input::placeholder {
  color: var(--text-color);
}

/* Show search */
.show-search {
  opacity: 1;
  pointer-events: initial;
}

.show-search .search__form {
  transform: translateY(0);
}

/*=============== LOGIN ===============*/
.login__form, 
.login__group {
  display: grid;
}

.login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}

.login__group {
  row-gap: 1rem;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text-color);
}

.login__input::placeholder {
  color: var(--text-color);
}

.login__signup {
  margin-bottom: .5rem;
}

.login__signup a {
  color: var(--first-color);
}

.login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}

.login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__button:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

/* Show login */
.show-login {
  opacity: 1;
  pointer-events: initial;
}

.show-login .login__form {
  transform: translateY(0);
}

/*=============== main ===============*/
section {
    background: linear-gradient(90deg, transparent 75%, gray 25%);
}

div.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 100vh;
    max-width: 1600px;
    /* padding-top: 88px; */
    border-top: 88px;
    margin: auto;
    align-items: center;

}

.main__left h1 {
    font-size: 6em;
    color: var(--first-color);
	padding-left: 20px;
}

.main__left p {
    font-size:1.5em;
    border: 5px;
	padding-left: 20px;
	padding-bottom: 5px;
}

.main__left button {
	margin-left: 20px;
    padding: 8px 10px;
    border: 2px solid var(--first-color);
    border-radius: 5px;

    background: linear-gradient(to right, var(--first-color) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
}

.main__left button:hover {
    background-position: left bottom;
    color: white;
    cursor: pointer;
}

.main__right {
    align-items: center;
}

.main__right img {
    height: 450px;
    margin: auto;
}

/*=============== Contact ===============*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .search,
  .login {
    padding-top: 10rem;
  }

  .search__form {
    max-width: 450px;
    margin-inline: auto;
  }

  .search__close,
  .login__close {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
  
  /*============ MULTIPLE VIEW GRID ============*/

.shop-grid{
	grid-template-columns: repeat(3, 1fr);
}

.filter{
  width: 30%;
}
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__form {
    padding: 3rem 2rem 3.5rem;
  }
  
  /*============ MULTIPLE VIEW GRID ============*/
  
.shop{
	margin-top: 5rem;
}

.shop-grid{
	grid-template-columns: repeat(4, 1fr);
}
	
.filter{
  width: 25%;
}

.slider input{
	position: absolute;
	scale: 0.9;
	margin-left: -0.5rem;
	margin-top: 5px;
	display: flex;
}

.slider div{
	padding-left: 8rem;
	font-size: 1.2rem;
}
  
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  
  /*============ MULTIPLE VIEW GRID ============*/

.shop-grid{
  grid-template-columns: repeat(5, 1fr);
}
}

